.side-bar{
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    padding:30px;
    background-color: #222;
    width:260px;
    flex-shrink: 0;
    .logo{
        .logo-link{
            font-size:20px;
            font-weight: 700;
        }
        .slogan{
            margin-top:5px;
            font-size:12px;
            letter-spacing: 1px;
            font-weight: 400;
            opacity: 0.4;
            text-transform: uppercase;
        }
    }
    .main-menu{
        flex-grow:1;
        margin-top:50px;
        li{
            display: flex;
            &:not(.current):hover{
                a{
                    opacity: 0.7;
                }
            }
            &.current{
                a{
                    opacity: 1;
                    
                }
            }
            a{
                line-height: 40px;
                opacity: 0.3;
                font-size:16px;
                transition: opacity 0.2s ease-in-out;
            }
        }
    }
    .footer{
        opacity:0.5;
    }
}